/* HACK: To override the AuthX styles (navs, lists) */
.body ul, .inner-content ul {
  list-style-type: disc !important;
}

/* Override AuthX styles */
.body ul ul {
  list-style-type: circle !important;
  margin: 0 !important;
}
.body ul {
  padding-left: 40px !important;
  margin: 1em 0 !important;
}

/* Hack for tips and notes styles (applying AuthX styles to blockquotes) */
blockquote {
  overflow: hidden !important;
  border: 1px solid #0081a5 !important;
  border-radius: 0.4em !important;
  border-left: 0.7em solid #0081a5 !important;
  padding: .5em !important;
  margin: 1em 0px !important;
  font-size: 14px !important;
  line-height: 1.35em !important;
}

blockquote p {
  margin: 0 !important;
}

/* Edit on GitHub button */
.edit-page-link {
  float: right;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin-top: 17px
}
.body > h1 {
  display: inline-block;
}

/* Styling images (sizing images in-lined with writing) */
.center-image {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.portrait {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.landscape {
  width: 100%;
}

/* Training styles */
.buttons-unit {
  margin-top: 60px;
  text-align: center
}

.buttons-unit a {
  color: #61dafb
}

.button {
  font-size: 24px !important;
  color: #fafafa !important;
  border: none !important;
  text-transform: none !important;
  padding: 10px 30px !important;
}

.red {
  color: #e4212a !important;
  border: 1px solid #e4212a !important;
  font-family: "Avenir Next" !important;
  font-weight: 400 !important;
}

.buttons-unit .button:active {
  background: #c5695c
}

.buttons-unit.downloads {
  margin: 30px 0
}

/* Video styles for training */
video {
  width: 100%;
}

/* Hide header links */
h1:hover .hash-link, h2:hover .hash-link, h3:hover .hash-link, h4:hover .hash-link, h5:hover .hash-link, h6:hover .hash-link {
  visibility: visible !important;
}
.hash-link {
  color: #aaa !important;
  display: inline-block !important;
  visibility: hidden !important;
  padding-left: 5px !important;
  text-decoration: none !important;
}
.hash-link > svg {
  transform: rotate(-30deg) !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* Platform tabs */
#platform-tabs {
  display: inline-block;
}

.toggler a {
  display: inline-block;
  margin: 0 8px;
  padding: 7px 9px;
  text-decoration: none !important;
  font-size: 20px;
  color: gray;
  border-bottom: 2px solid gray;
}
.display-platform-ios .toggler .button-ios,
.display-platform-android .toggler .button-android,
.display-platform-rn .toggler .button-rn,
.display-platform-wpf .toggler .button-wpf,
.display-platform-xam .toggler .button-xam {
  color: #05A5D1;
  border-bottom: 2px solid #05A5D1;
}

block { display: none; }

.display-platform-ios .ios,
.display-platform-android .android,
.display-platform-rn .rn,
.display-platform-net .net,
.display-platform-wpf .wpf,
.display-platform-xam .xam,
.display-platform-all .all {
  display: block;
}