@font-face {
    font-family: Kievit-Thin;
    src: url(fonts/Kievit/Kievit-Thin.otf) format("opentype");
}

@font-face {
    font-family: Kievit-ExtraLight;
    src: url(fonts/Kievit/Kievit-ExtraLight.otf) format("opentype");
}

@font-face {
    font-family: Kievit-Light;
    src: url(fonts/Kievit/Kievit-Light.otf) format("opentype");
}

@font-face {
    font-family: Kievit-LightItalic;
    src: url(fonts/Kievit/Kievit-LightItalic.otf) format("opentype");
}

@font-face {
    font-family: Kievit-Regular;
    src: url(fonts/Kievit/Kievit-Regular.otf) format("opentype");
}

@font-face {
    font-family: Kievit-Book;
    src: url(fonts/Kievit/Kievit-Book.otf) format("opentype");
}

@font-face {
    font-family: Kievit-Medium;
    src: url(fonts/Kievit/Kievit-Medium.otf) format("opentype");
}

body {
    font: 12pt Kievit-Light;
    color: black;
    margin: 0;
}

/*
    Force element to self-clear its children (so that it will expand it's size when all of it's children are floated).
    https://css-tricks.com/snippets/css/clear-fix/
*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* ============================================================================================ */
/* ======================================== Components ======================================== */
/* ============================================================================================ */

.body {

}

.body.with-secondary-navs {
    background: url("images/secondary-navs-background.svg") 0 0/300px 100% no-repeat;
}

h1 {
    font: 28px Kievit-Light;
    margin: 20px 0 20px 0;
}

h2 {
    font: 24px Kievit-Light;
    margin: 24px 0 16px 0;
    padding: 0 0 6px 0;
    border-bottom: solid #d9d9d9 1pt;
}

h3 {
    font: 22px Kievit-Light;
}

h4 {
    font: 18px Kievit-Light;
}

a {
    color: #0c97fa;
    text-decoration: none;
}

a:hover {
    color: #0a78c7;
}

a.disabled {
    color: #cccccc;
}

hr {
    height: 1px;
    margin: 5px 0 20px;
    border: 0;
    background: rgba(0, 0, 0, 0.2);
}

ul, ol {
    margin: 0 0 15px 18px;
    padding: 0;
}

li {
    padding: 0.1em 0;
}

dd {
    margin: 0 0 10px 30px;
}

strong, b {
    font-weight: bold;
    color: #222;
}

/* ============= */
/* ==== Set ==== */
/* ============= */

.set .toc {
    display: none;
}

/* ================ */
/* ==== Figure ==== */
/* ================ */

.figure {

}

.figure.high {
    margin: 1em auto;
}

.figure.normal {
    float: left;
    margin: 1em 1em 1em 0;
}

.figure.low {
    float: right;
    margin: 1em 0 1em 1em;
}

.figure > .caption {
    margin: 0.5em 0 0;
    color: #666;
}

.figure > .caption .tag {
    float: left;
    color: #222222;
    font-weight: bold;
    margin-right: 0.5em;
}

/* ============== */
/* ==== Note ==== */
/* ============== */

.note {
    margin: 1em 0;
    padding-left: 10px;
    border-left: 4px solid;
    border-color: #00aade;
}

.note.tip {
    border-color: #00d134;
}

.note.caution {
    border-color: #e30022;
}

.note .tag {
    float: left;
    font-weight: bold;
    margin-right: 0.5em;
}

/* ============== */
/* ==== Code ==== */
/* ============== */

pre {
    margin-top: 0;
    padding: 1em;
    overflow: auto;
    background: rgba(0, 0, 0, 0.05);
}

code {
    color: #060;
    font: 14px/1.5 monospace;
}

code.disabled {
    color: rgba(0, 0, 0, 0.4);
}

/* ============== */
/* ==== Tabs ==== */
/* ============== */

div.tab-bar {
    overflow-x: auto;
    white-space: nowrap;
}

a.tab {
    display: table-cell;
    padding: 8px 16px;
    color: black;
}

a.tab.disabled {
    color: #cccccc;
}

a.tab.active {
    background: rgba(0, 0, 0, 0.05);
}

/* =============== */
/* ==== Table ==== */
/* =============== */

div.table {
    margin: 1em 0;
    width: 100%;
}

div.table > table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    width: 100%;
}

div.table th, div.table td {
    padding: 4px 12px;
    vertical-align: top;
    text-align: left;
    border: solid 1px #CCCCCC;
}

div.table th {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: normal;
}

div.table > .caption {
    margin: 1em 0 0;
    color: #666;
}

div.table > .caption .tag {
    float: left;
    color: #222222;
    font-weight: bold;
    margin-right: 0.5em;
}

/* ======================= */
/* ==== Send Feedback ==== */
/* ======================= */

.send-feedback-form > .submit {
    margin: 24px 0 12px 0;
    padding: 0;
    font: 12pt Kievit-Light;
    color: #0c97fa;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    float: right;
}

.send-feedback-form > .submit:hover {
    color: #0a78c7;
}

/* ============================================================================================ */
/* ======================================== Site Pages ======================================== */
/* ============================================================================================ */

/* ================== */
/* ==== Site Map ==== */
/* ================== */

.site-map {
    margin: 24px 0;
}

.site-map ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

.site-map .level-1 {
    column-count: 2;
    margin-left: 24px;
    margin-right: 24px;
}

.site-map .level-1 > li:not(:first-child) {
    margin-top: 24px;
}

.site-map .level-1 > li > .title {
    font: 18pt Kievit-Thin;
}

.site-map .level-1 > li > .description {
    font-family: Kievit-Thin;
}

.site-map .level-2 {
    margin: 0;
    padding: 0;
}

.site-map .level-2 > li {
    margin-top: 18px;
}

.site-map .level-3 {
    margin: 12px 0 0 0;
}

.site-map .level-3 li {
    margin-top: 4px;
}

/* ============================================================================================ */
/* ========================================== Chrome ========================================== */
/* ============================================================================================ */

/* ================ */
/* ==== Header ==== */
/* ================ */

.header {
    background-color: #ea262f;
    color: white;
    font-size: 14pt;
}

.header a {
    color: white;
}

.header a:hover {
    opacity: 0.85;
    text-decoration: none;
}

.domain-navs {
    height: 72px;
    display: inline-block;
    margin-left: 24px;
    margin-right: 48px;
    float: left;
}

.domain-nav {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}

.domain-nav:not(:first-child):before {
    content: "/";
    opacity: 0.5;
    margin: 0 6px;
}

.domain-nav img {
    display: block;
}

.primary-navs {
    height: 72px;
    display: inline-block;
    margin-left: 24px;
    float: left;
}

.primary-nav {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    padding: 0 12px;
}

.primary-nav.active {
    border-bottom: solid white 2pt;
    box-sizing: border-box;
}

/* ================ */
/* ==== Search ==== */
/* ================ */

.search {
    height: 72px;
    display: inline-block;
    float: right;
}

.search-controls {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}

.search-controls a {
    width: 40px;
    height: 40px;
    margin-right: 18px;
    display: none;
    vertical-align: middle;
    background-image: url("images/search.svg");
    background-size: 40px 40px;
    background-repeat: no-repeat;
}

.search-controls input {
    width: 160px;
    height: 36px;
    border: 0;
    padding: 0 32px 0 8px;
    margin: 0 24px 0 0;
    background-color: white;
    background-image: url(images/search-icon.svg);
    background-size: 24px 24px;
    background-position: right 6px center;
    background-repeat: no-repeat;
    outline: none;
    font: 12pt Kievit-Regular;
    vertical-align: middle;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#search-results {
    position: absolute;
    float: right;
    right: 24px;
    top: 64px;
    min-width: 200px; /* Match input width + padding */
    z-index: 100;
    color: black;
    background: white;
    font-size: 12pt;
    padding-bottom: 18px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#search-results.hidden {
    display: none;
}

#search-results a {
    color: #0c97fa;
    text-decoration: none;
}

#search-results a:hover {
    color: #0a78c7;
}

#search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#search-results li {
    margin: 0;
    padding: 0;
}

#search-results .group {
    padding-top: 18px;
    display: block;
    float: left;
}

#search-results .group > .title {
    font-size: 16pt;
    font-family: Kievit-Thin;
}

#search-results .group {
    margin: 0 18px;
}

#search-results .set {
    margin-top: 12px;
}

#search-results .set:not(:first-child) {
    margin-top: 24px;
}

#search-results .set > .title {
    font-family: Kievit-Thin;
}

#search-results .items {
    margin-top: 12px;
}

#search-results .items > .title {
    font-family: Kievit-Book;
}

#search-results .item {
    margin-top: 4px;
}

/* Advanced */

#search-advanced {
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    border: 0;
    padding: 0 32px 0 8px;
    margin-top: 24px;
    background-color: #f2f2f2;
    background-image: url(images/search-icon.svg);
    background-size: 24px 24px;
    background-position: right 6px center;
    background-repeat: no-repeat;
    outline: none;
    font: 12pt Kievit-Regular;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#search-results-advanced {
    margin: 24px 0;
}

#search-results-advanced a {
    font-size: 14pt;
}

#search-results-advanced .location {
    color: #006621;
}

#search-results-advanced .item {
    margin-top: 24px;
}

/* ============================== */
/* ==== Secondary Navigation ==== */
/* ============================== */

.secondary-navs {
    width: 300px;
    min-height: calc(100vh - 72px /* header */ - 40px /* footer */);
    float: left;
}

.secondary-navs > .back {
    display: block;
    margin: 24px 24px 0 24px;
    padding-left: 24px;
    font-family: Kievit-Book;
    background-image: url(images/secondary-navs-back@2x.png);
    background-size: 18px 18px;
    background-position: left center;
    background-repeat: no-repeat;
}

.secondary-navs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.secondary-navs li {
    padding: 0;
}

.secondary-navs > ul {
    margin: 0 24px 24px 24px;
}

.secondary-navs a.active {
    color: #ea262f;
}

.secondary-navs a.active:hover {
    color: #b81d25;
}

.secondary-navs .current-set {
    font-family: Kievit-Thin;
    margin-top: 24px;
}

.secondary-navs .current-set .title {
    font-size: 16pt;
}

.secondary-navs .current-set li {
    margin-top: 8px;
}

.secondary-nav-set {
    margin-top: 24px;
}

.secondary-nav-set > .title {
    font-family: Kievit-Book;
}

.secondary-nav {
    margin-top: 8px;
}

.secondary-nav > a.set {
    display: block;
}

.secondary-nav > a.set:before {
    content: "ã€‰";
    float: right;
    margin: 0 -12px 0 12px;
}

/* ===================== */
/* ==== Breadcrumbs ==== */
/* ===================== */

.breadcrumbs {
    margin-top: 24px;
}

.breadcrumb {
    display: inline-block;
}

.breadcrumb:not(:first-child):before {
    content: ">";
    margin: 0 4px;
}

/* ============= */
/* ==== TOC ==== */
/* ============= */

.toc {
    float: right;
    clear: right;
    width: 280px;


    /* HACK: Section header boarder shows behind the TOC so we cover it up w/ solid white. */
    background-color: white;
    border-left: solid white 24px;
    border-bottom: solid white 24px;
}

.toc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.toc ol {
    margin: 0 18px;
    padding: 0;
}

.toc li {
    margin: 0;
    padding: 0;
}

.toc .sections {
    padding: 0 18px 18px 18px;
    border: solid #d9d9d9 1px;
}

.toc .section .title {
    margin: 18px 0 8px 0;
    font-family: Kievit-ExtraLight;
}

.toc .item {
    margin-top: 6px;
}

.toc .sub-item {
    margin: 6px 18px 0 18px;
}

/* ========================= */
/* ==== TOC - Class Nav ==== */
/* ========================= */

.class-nav, .lesson-nav {
    border: solid #d9d9d9 1px;
    border-bottom: 0;
}

.class-nav a, .lesson-nav a {
    display: block;
    padding: 12px 0;
    text-transform: uppercase;
    text-align: center;
}

.class-nav a {
    width: 100%;
}

.lesson-nav a {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.lesson-nav a:first-child {
    border-right: 1px solid #d9d9d9;
}

/* ============================= */
/* ==== Course Lessons List ==== */
/* ============================= */

/* - Secondary Navs ------------ */

.secondary-navs ul.course-lessons-list {
    list-style-type: none;
}

.secondary-navs .course-lessons-list li {
    padding: 0;
    margin: 0;
}

.secondary-navs .course-lessons-list li a {
    background: #f2f2f2 url("images/train/f2f2f2/train-stop-nth.svg") 0 -82px/300px 200px no-repeat;
    background-color: #f2f2f2;
    padding-top: 8px;
    padding-left: 18px;
    display: inline-block;
}

.secondary-navs .course-lessons-list li:first-child a {
    background-image: url("images/train/f2f2f2/train-stop-first.svg");
}

.secondary-navs .course-lessons-list li:last-child a {
    background-image: url("images/train/f2f2f2/train-stop-last.svg");
}

.secondary-navs .course-lessons-list li:only-child a {
    background-image: url("images/train/f2f2f2/train-stop.svg");
}

/* Active */

.secondary-navs .course-lessons-list li a.active {
    background-image: url("images/train/f2f2f2/train-stop-nth.active.svg");
}

.secondary-navs .course-lessons-list li:first-child a.active {
    background-image: url("images/train/f2f2f2/train-stop-first.active.svg");
}

.secondary-navs .course-lessons-list li:last-child a.active {
    background-image: url("images/train/f2f2f2/train-stop-last.active.svg");
}

.secondary-navs .course-lessons-list li:only-child a.active {
    background-image: url("images/train/f2f2f2/train-stop.active.svg");
}

/* Visited */

.secondary-navs .course-lessons-list li a:visited {
    background-color: #0c97fa;
}

/* - TOC ----------------------- */

.toc ol.course-lessons-list {
    list-style-type: none;
    margin: 0 18px 0 0;
}

.toc .course-lessons-list li {
    padding: 0;
    margin: 0;
}

.toc .course-lessons-list li a {
    background: white url("images/train/white/train-stop-nth@2x.png") 0 -82px/300px 200px no-repeat;
    background-color: white;
    padding-top: 8px;
    padding-left: 18px;
    display: inline-block;
}

.toc .course-lessons-list li:first-child a {
    background-image: url("images/train/white/train-stop-first@2x.png");
}

.toc .course-lessons-list li:last-child a {
    background-image: url("images/train/white/train-stop-last@2x.png");
}

.toc .course-lessons-list li:only-child a {
    background-image: url("images/train/white/train-stop@2x.png");
}

/* Active */

.toc .course-lessons-list li a.active {
    background-image: url("images/train/white/train-stop-nth.active@2x.png");
}

.toc .course-lessons-list li:first-child a.active {
    background-image: url("images/train/white/train-stop-first.active@2x.png");
}

.toc .course-lessons-list li:last-child a.active {
    background-image: url("images/train/white/train-stop-last.active@2x.png");
}

.toc .course-lessons-list li:only-child a.active {
    background-image: url("images/train/white/train-stop.active@2x.png");
}

/* Visited */

.toc .course-lessons-list li a:visited {
    background-color: #0c97fa;
}

/* ================= */
/* ==== Content ==== */
/* ================= */

.content {
    width: calc(100vw - 48px /* content padding */);
    min-height: calc(100vh - 72px /* header */ - 40px /* footer */);
    padding: 0 24px;
    float: left;
}

.content.with-secondary-navs {
    width: calc(100vw - 300px /* secondary navs */ - 48px /* content padding */);
}

/* ================ */
/* ==== Footer ==== */
/* ================ */

.footer {
    height: 40px;
    width: 100%;
    background-color: white;
    border-top: solid #f2f2f2 1pt;
    box-sizing: border-box;
    float: left;
}

.copyright {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    padding-left: 12px;
}

.footer-navs {
    height: inherit;
    display: table-cell;
}

.footer-nav {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    padding-left: 24px;
}

/* ============================================================================================ */
/* ======================================== Responsive ======================================== */
/* ============================================================================================ */

@media only screen and (max-width: 650px) {
    .secondary-navs {
        display: none;
    }

    .body.with-secondary-navs {
        background: none;
    }

    .content.with-secondary-navs {
        width: calc(100vw - 48px /* content padding */);
    }

    .set .toc {
        display: block;
    }
}

@media only screen and (max-width: 550px) {
    .search-controls input {
        display: none;
    }

    #search-results {
        display: none;
    }

    .search-controls a {
        display: inline-block;
    }
}

@media only screen and (max-width: 500px) {
    .toc {
        float: none;
        width: calc(100vw - 48px /* content padding */);

        /* HACK: (reverse) Section header boarder shows behind the TOC so we cover it up w/ solid white. */
        border-left: none;
        border-bottom: none;
    }
}